<div class="d-flex flex-row w-100 justify-content-between">
    <h5 class="mb-1"><a [routerLink]="['/task', task?.id]">#{{task?.id}}</a> - {{ task?.title }}</h5>

    <div class="btn-group justify-content-end" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/task', task?.id]">Détails</a></li>
            <li *ngIf="task?.status === taskStatus.IN_PROGRESS"><a class="dropdown-item" (click)="updateTaskStatus(taskStatus.OPEN)" role="button">Mettre le statut à 'à faire'</a></li>
            <li *ngIf="task?.status === taskStatus.OPEN || task?.status === taskStatus.DONE"><a class="dropdown-item" (click)="updateTaskStatus(taskStatus.IN_PROGRESS)" role="button">Mettre le statut à 'en cours'</a></li>
            <li *ngIf="task?.status === taskStatus.IN_PROGRESS"><a class="dropdown-item" (click)="updateTaskStatus(taskStatus.DONE)" role="button">Mettre le statut à 'terminé'</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="deleteTask()" role="button">Supprimer</a></li>
        </ul>
    </div>
</div>
