<div class="toast-container position-absolute bottom-0 end-0 p-3">
    <div id="lastNotificationToast" class="toast align-items-center text-white border-0" [ngClass]="{'bg-primary':lastNotification?.level=='info','bg-danger':lastNotification?.level!='info'}" role="alert" aria-live="assertive" aria-atomic="true" >
        <div class="d-flex">
          <div class="toast-body">
            {{ lastNotification?.description }}
          </div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
</div>