<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ça bosse ?</a>
      <div class=" collapse navbar-collapse">
        <ul class="navbar-nav flex-row ms-auto">
          <li class="nav-item"><button type="button" class="btn btn-light" (click)="openCreateTaskModal()">Créer une
              tâche</button></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<app-backlog></app-backlog>

<app-create-task-modal [(active)]="createTaskModalActive"></app-create-task-modal>

<app-notification-area></app-notification-area>

<router-outlet></router-outlet>