<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Backlog</a></li>
      <li class="breadcrumb-item active" aria-current="page">#{{task?.id}}</li>
    </ol>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-10">
        <h1>{{task?.title}}</h1>
        <p>{{task?.description}}</p>
      </div>
      <div class="col-2">
        <app-task-detail-sidebar [task]="task"></app-task-detail-sidebar>
      </div>
    </div>
  </div>
</div>